@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.results-container {
  height: min(100vh);

  &__results {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    justify-content: center;
    justify-items: center;
  }

  &__btn:link,
  &__btn:active,
  &__btn {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.6rem 4rem;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.2s;
    width: 10vw;
    text-align: center;
    margin-top: 4rem;
    background-color: transparent;
  }

  &__btn:hover {
    color: $background-color;
    background-color: #fff;
  }

  &__playagain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text-result {
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
  }
}
