@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.results-container {
  height: min(100vh);

  &__results {
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    justify-content: center;
    justify-items: center;

    @include respond(phone) {
      grid-template-columns: repeat(2, 45vw);
      grid-row: repeat(2, 100%);
      row-gap: 6rem;
    }
  }

  &__picked {
    color: #fff;
    letter-spacing: 1px;
    padding-bottom: 3rem;
    text-align: center;
  }

  &__btn:link,
  &__btn:active,
  &__btn {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.6rem 4rem;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.2s;
    width: 10vw;
    text-align: center;
    margin-top: 4rem;
    background-color: transparent;

    @include respond(phone) {
      width: 20vw;
      padding: 1rem 5rem;
    }
  }

  &__btn:hover {
    color: $background-color;
    background-color: #fff;
  }

  &__computer {
    @include respond(phone) {
      grid-row: 1 / 1;
      grid-column: 2 / -1;
    }
  }

  &__playagain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      grid-column: 1 / -1;
    }
  }

  &__text-result {
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
  }
}
