@import '../../sass/mixins.scss';

.container {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  width: 50vw;
  padding: 2rem 3rem;
  border: 1px hsl(217, 16%, 45%) solid;
  border-radius: 1rem;
  color: #fff;
  justify-content: space-between;

  @include respond(phone) {
    width: 75vw;
  }

  & img {
    height: 8rem;
    align-self: center;
  }
}

.score-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 4rem;

  @include respond(phone) {
    padding: 1rem 3rem;
  }
}

.label {
  background-color: #fff;
  margin: 0;
  font-size: 1.4rem;
  padding-bottom: 0.7rem;
  color: hsl(229, 64%, 46%);
  letter-spacing: 0.2rem;
}

.score {
  line-height: 1rem;
  background-color: #fff;
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
  margin-top: 1rem;
  padding-bottom: 2.5rem;
  color: hsl(229, 25%, 31%);
}
