@import './sass/mixins.scss';
@import './sass/variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 45%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  background-image: $background;
}
