@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.homepage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  position: relative;

  &__header {
    display: flex;
    width: 55vw;
    justify-content: space-between;
    padding: 2rem 5rem;
    border: solid #fff 1px;
    border-radius: 1rem;
  }

  &__logo {
    height: 6rem;
  }

  &__credits {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    &-2 {
      margin-top: 0.6rem;
    }
  }

  &__welcome {
    color: #fff;
    font-size: 7rem;
    margin-top: 8rem;
  }

  &__play-btn:link,
  &__play-btn:active,
  &__play-btn {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.6rem 4rem;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.2s;
    width: 10vw;
    text-align: center;
    margin-top: 6rem;
  }

  &__play-btn:hover {
    color: $background-color;
    background-color: #fff;
  }
}

.viewcode {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  bottom: 1rem;

  & i {
    margin-right: 1rem;
  }
}
